.App {
  text-align: center;
}

.headerBar {
  width: 100%;
  background-color: #181123;
  height: 50px;
}

.headerTitle {
  background-image: linear-gradient(45deg, #FCF6BA,#BF953F);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 22pt;
  padding-top: 2px;
  margin-left: 12%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
