body, html {
  text-align: center;
  height: 100%;
  margin: 0;
  background: radial-gradient(#FCF6BA,#BF953F);
  background-size: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
